@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
   --primary-color: #FFA500;
   --primary-color-dark: #c65102;
   --text-dark: #1f1f1f;
   --text-light: #4b5563;
   --extra-light: #f3f4f6;
   --white: #ffffff;
   --orange: #ff8c00;
   --max-width: 1200px;
   --font-heading: "Montserrat", sans-serif;
 }

html {
  scroll-behavior: smooth;
}

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .section__container {
   max-width: var(--max-width);
   margin: auto;
   position: relative; /* Keeps child elements positioned relative to this container */
 }

 a {
   text-decoration: none;
 }

 img {
   width: 100%;
 }

body {
  font-family: "Open Sans", serif;
}

#home-page header {
   position: relative;
   background-image: url("assets/header.jpg");
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%; /* Full width */
   height: 100vh; /* Full height */
 }

 nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* Smooth transition for shrinking */
}

nav.shrink {
  padding: 0.3rem 2rem; /* Smaller padding to shrink the navbar */
  background-color: #ff8c00; /* Optional: Slightly different background when shrunk */
}

nav.shrink .link a {
  color: var(--white); /* Change to your preferred color when shrunk */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

nav.shrink .link a:hover {
  color: var(--primary-color-dark); /* Change to hover color when shrunk */
}

nav.shrink .link a.active {
  color: var(--primary-color-dark); /* Change to hover color when shrunk */
}


.header__container {
  position: relative;
  z-index: 2;
  display: flex; /* Center content */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100%; /* Match header height */
  text-align: center;
}

#home-page .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark overlay */
  z-index: 1;
}

 .nav__links {
   list-style: none;
   display: flex;
   align-items: center;
   width: 100%;
 }

 .nav-items {
   display: flex;
   gap: 2rem; /* Spacing between the nav items */
   margin-left: auto; /* Pushes the nav items to the right */
}

 .nav-items a {
  font-family: 'Montserrat', sans-serif; /* Change to your preferred font */
  color: var(--orange);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav-items a:hover {
  color: var(--primary-color-dark); /* Change color on hover */
}
 
 .link.logo {
   display: flex; /* Align images horizontally */
   align-items: center; /* Vertically align the images */
   gap: 10px; /* Optional: Adds spacing between the images */
}

.logo-image {
   width: 60px; /* Adjust the size of the logo */
   height: auto; /* Maintain aspect ratio */
}

.logo-name {
   width: 190px; /* Adjust the size of the logo name */
   height: auto; /* Maintain aspect ratio */
}

.link:hover {
  color: var(--primary-color-dark);
}

.nav-items a.active {
  color: var(--primary-color-dark); /* Darken the color */
  font-weight: 700; /* Make it bold */
  transition: color 0.3s ease;
}

 .header__container {
   padding: 1rem;
   display: flex; /* Use flexbox on the container */
   justify-content: center; /* Center content horizontally */
   align-items: center; /* Center content vertically */
   min-height: calc(700px - 60px); /* Ensure enough height */
   position: relative;
}

.header__content {
   margin-top: 100px;
   text-align: center;
   color: var(--white);
   display: flex;
   flex-direction: column; /* Stack the content vertically */
   justify-content: center; /* Center content vertically inside the div */
   align-items: center; /* Center content horizontally inside the div */
   gap: 1rem;
   z-index: 2;
   opacity: 0;
   transform: translateY(50px);
   animation: fadeUp 1.5s ease-out forwards;
}

 .header__content h1 {
   font-size: 4rem;
   line-height: 3.5rem;
   font-family: 'Montserrat', sans-serif;
   color: white;
   z-index: 2;
   margin-top: 4rem;
 }
 
 .header__content p {
   font-size: 1.3rem;
   letter-spacing: 2px;
   color: white;
   z-index: 2;
   font-family: 'Open Sans', sans-serif;
 }

 .header__content .buttons {
   margin-top: 20px;
 }

 .header__content button {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   padding: 15px 30px;
   margin: 10px;
   font-size: 1rem;
   color: white;
   background-color: var(--orange);
   border: none;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
 }

 .header__content button:hover {
  background-color: var(--primary-color-dark);
 }
 
 .main__container {
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure the container takes full viewport height */
  background-color: var(--extra-light); /* Optional background */
}

.main__container::after {
  /* Optional decorative element */
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 5rem; /* Adjust this based on your design */
  width: 100%;
  background-color: var(--text-dark);
  z-index: -1;
}

.main__content {
  flex: 1; /* Allow this section to grow and fill available space */
  background-color: white;
  display: flex;
  flex-direction: column; /* Maintain column layout inside the content */
  justify-content: flex-start;
  background-color: white;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%; /* Full width of the parent */
  height: 80vh; /* 80% of the viewport height */
}

.banner__content {
  padding: 3rem 1rem; /* Reduce padding for smaller banners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.banner__content .subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.banner__content .title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--primary-color-dark);
}

.banner__content .description {
  color: var(--text-light);
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 550px;
  font-size: 1.2rem;
}

.banner__content button {
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 5rem;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.banner__content button:hover {
  background-color: var(--primary-color-dark);
}

.banner__image {
  background-image: url("assets/about-home.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; /* Matches parent width */
  height: 100%; /* Matches parent height */
}

.features {
  text-align: center;
  padding: 50px 20px;
  font-family: 'Montserrat', sans-serif; /* Change to your preferred font */
  background-color: var(--extra-light);
}

.features h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-dark);
}

.features p {
  font-size: 1rem;
  color: var(--text-light);
  margin-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-left: 10rem;
  margin-right: 10rem;
}

.features__card {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.features__card span i {
  font-size: 2.6rem;
  color: var(--text-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gear-container {
  position: relative;
  display: inline-block; /* Ensures the image and icon are inline */
}

.orange-gear {
  width: 60%; /* Adjust width as needed */
  height: auto;
}

.features__card h4 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--primary-color-dark);
}

.features__card p {
  font-size: 0.9rem;
  color: var(--text-light);
}

.services {
  text-align: center;
  padding: 50px 20px;
  font-family: 'Montserrat', sans-serif; /* Change to your preferred font */
}

.services h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text-dark);
}

.services__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.services__card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;  /* Align items to the left */
  justify-content: flex-start;  /* Align content to the top */
  flex-direction: column;
  gap: 1rem;
  text-align: left;  /* Align text to the left */
  position: relative; /* Ensure that the card is positioned relative to its container */
  overflow: hidden;   /* Prevent the zoomed image from overflowing */
}

.services__card img {
  width: 100%;          /* Ensures the images fill the container width */
  height: 200px;        /* Set a fixed height for all images */
  object-fit: cover;    /* Ensures images maintain their aspect ratio while covering the container */
  border-bottom: 2px solid #ddd;
  transition: transform 0.3s ease-in-out; /* Smooth zoom transition */
}

.services__card:hover img {
  transform: scale(1.1); /* Zoom the image by 10% */
}

.services__card h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--primary-color-dark);
}

.services__card p {
  font-size: 0.9rem;
  color: var(--text-light);
}

.projects {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  font-family: 'Montserrat', sans-serif; /* Change to your preferred font */
  background-image: url('assets/wallpaper.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center center; /* Centers the image */
  color: white; /* Text color for contrast */
}

.projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 166, 0, 0.9); /* Orange with low opacity */
  z-index: 1; /* Ensures overlay appears above the background but below text */
}

.projects .container {
  position: relative;
  z-index: 2; /* Ensures text is above the overlay */
}

.projects h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--white);
}

.projects p {
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

.collage {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 250px;
  box-sizing: border-box;
  padding: var(--gap);
  max-height: 1080px;
  max-width: 1080px; /* Adjust as needed */
  margin: 0 auto; /* Centers the collage */
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  position: relative;
}

/* Wrapper for each image */
.collage-item {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Images styling */
.collage-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease-out;
}

/* Red overlay styling */
.collage-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(224, 71, 0, 0.8), transparent);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
}

/* Text overlay styling */
.collage-item .detail-text {
  position: absolute;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  cursor: pointer;
}

.detail-text h1 {
  font-size: 20px; /* Adjust this size as needed */
  line-height: 1.5; /* Optional: Adjust line spacing */
  font-weight: bold; /* Optional: Customize weight */
  margin: 16px 0; /* Optional: Customize spacing */
}


/* Hover effect */
.collage-item:hover img {
  transform: scale(1.1);
}

.collage-item:hover::before {
  opacity: 1;
}

.collage-item:hover .detail-text {
  opacity: 1;
  transform: translateY(0);
}

/* Spanning for specific items */
.collage-col-2 {
  grid-column: span 2;
}

.collage-row-2 {
  grid-row: span 2;
}

/* Responsive design */
@media screen and (max-width: 1024px) {
  .collage {
    --num-cols: 2;
    --row-height: 200px;
    padding: 8px; /* Adjust padding for smaller screens */
  }
}

.container button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 15px 30px;
  margin: 10px;
  font-size: 1rem;
  color: white;
  background-color: var(--text-dark);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.container button:hover {
 background-color: var(--primary-color-dark);
}

.advertise {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  font-family: 'Montserrat', sans-serif; /* Change to your preferred font */
  background-image: url('assets/white-wallpaper.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center center; /* Centers the image */
  color: white; /* Text color for contrast */
}

.advertise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9); /* Orange with low opacity */
  z-index: 1; /* Ensures overlay appears above the background but below text */
}

.advertise .advertise-container {
  position: relative;
  z-index: 2; /* Ensures text is above the overlay */
}

.advertise h1 {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-dark);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.advertise h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 500;
  color: var(--text-light);
  font-family: 'Montserrat', sans-serif;
}

.advertise button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 15px 30px;
  margin: 25px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.advertise button:hover {
 background-color: var(--primary-color-dark);
}

footer {
  background-color: var(--text-dark);
  position: relative; /* Ensure footer stays within the flow of the layout */
  z-index: 1; /* Ensure footer stays above other elements */
}

.footer__container {
  padding: 5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.footer__col p {
  color: var(--white);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col img {
  margin-bottom: 30px;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials span {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 100%;
  color: var(--text-dark);
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials span:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.footer__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: var(--white);
  border-top: 1px solid var(--extra-light);
}

.copyright {
  font-size: 0.8rem;
}

.contact-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

/* Initial state for the header content */

/* Keyframes for fade-in and hover-up effect */
@keyframes fadeUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.scroll-down {
  height: 80px; /* Size remains large */
  width: 80px;
  margin: 20px auto 0; /* Centers the element horizontally */
  border-radius: 50%;
  cursor: pointer;
  position: relative; /* Allows it to remain in the flow of the document */
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 16px;
  width: 16px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 3px solid #c65102;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}




/*Contacts*/
.contact-section {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    color: #004080;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
  text-align: center;
}

.contact-details div {
  margin: 10px;
}

.contact-details p {
  margin: 5px 0;
  font-size: 1.1em;
}

.contact-details i {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #004080;
}

.contact-form {
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.contact-form button {
  background-color: #004080;
  color: #fff;
  padding: 12px 25px;
  border-radius: 4px;
  font-size: 1em;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #003366;
}

.map-container {
  margin-top: 40px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 400px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/*Services */

.services-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.service-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: left;
  padding: 20px;
  flex: 1;
  min-width: 300px; /* Prevents boxes from shrinking too much */
  box-sizing: border-box;
}
.service-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.service-box h2 {
  margin-top: 15px;
  font-size: 1.5em;
  color: #333;
}
.service-box p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
}

/* CHATBOX */
.chat-box {
  width: 300px; /* Adjust width */
  max-height: 360px; /* Maximum height */
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  position: fixed; /* Fixed position */
  right: 20px; /* Distance from the right */
  bottom: 80px; /* Distance from the bottom */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: none; /* Initially hidden */
  flex-direction: column;
  overflow: hidden; /* Prevent overflow */
  animation: slideIn 0.3s ease; /* Slide-in animation */
  transition: background-color 0.3s;
  z-index: 10;
}

.chat-header {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space between title and buttons */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Padding for aesthetics */
  background-color: #ff9800; /* Orange header */
  color: white; /* Text color */
  border-top-left-radius: 10px; /* Rounded corners */
  border-top-right-radius: 10px; /* Rounded corners */
}

.header-buttons {
  display: flex; /* Align buttons in a row */
  align-items: center; /* Center buttons vertically */
}

.exit-btn,
.minimize-btn {
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: white; /* White text */
  cursor: pointer; /* Pointer cursor */
  font-size: 18px; /* Font size */
  margin-left: 10px; /* Space between buttons */
  transition: color 0.3s; /* Smooth transition for hover */
}

.exit-btn:hover,
.minimize-btn:hover {
  color: #e67e22; /* Change color on hover */
}

.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff9800; /* Orange background */
  color: white;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  z-index: 9;
}

.chat-btn img {
  transition: opacity 0.3s ease; /* Smooth transition */
}

.chat-btn:hover img {
  transform: scale(1.1); /* Enlarge image on hover */
}


.chat-box {
  width: 280px; /* Adjust width */
  max-height: 360px; /* Maximum height */
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  position: fixed;
  bottom: 80px; /* Space from the bottom */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: none; /* Initially hidden */
  flex-direction: column;
  overflow: hidden;
  animation: slideIn 0.3s ease; /* Slide-in animation */
}

@keyframes slideIn {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

.chat-header {
  background-color: #ff9800; /* Orange header */
  color: white;
  padding: 10px;
  text-align: justify;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.exit-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-align: right;
}

.chats {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto; /* Allow scrolling */
  padding: 5px;
}

.client-chat,
.admin-chat {
  padding: 10px 15px; /* Padding for better appearance */
  border-radius: 20px; /* Rounded corners */
  margin: 5px; /* Margin for spacing */
  max-width: 70%; /* Limit width */
  word-wrap: break-word; /* Prevent overflow */
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.client-chat {
  background-color: #ff9800; /* Orange for client messages */
  color: white;
  align-self: flex-end; /* Align client messages to the right */
}

.admin-chat {
  background-color: #ffe0b2; /* Light background for admin messages */
  color: #333;
  align-self: flex-start; /* Align admin messages to the left */
}

.chat-input {
  display: flex;
  padding: 5px;
  background-color: #f1f1f1; /* Light background for input area */
}

.chat-input input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 15px;
}

.send-btn {
  background-color: #ff9800; /* Orange for send button */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-btn {
  background-color: transparent; /* Make background transparent */
  border: none; /* Remove default border */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 0; /* Remove padding */
}

.send-icon {
  width: 24px; /* Adjust icon size */
  height: 24px; /* Adjust icon size */
}

.send-btn:hover {
  background-color: #e67e22; /* Darker orange on hover */
}

/* About-us */
.about-us {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Ensures consistent box-sizing behavior across all elements */
html {
  box-sizing: border-box;
}

/* Apply box-sizing to all elements and pseudo-elements */
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Styling for card elements with a shadow effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Soft shadow around cards */
  margin: 8px; /* Margin between cards */
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #d2800d;
  color: white;
}

.about-section h1 {
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: bold; /* Makes the title bold */
  color: white; /* Ensures the text is white */
  margin-bottom: 30px; /* Adds space below the title */
  
}

.container {
  padding: 0 16px; /* Horizontal padding inside the container */
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: var(--orange);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  .column {
    width: 95%;
    display: block; /* Stack columns vertically */
  }
}